*{
	margin: 0;
	padding: 0;
	font-family: "poppins", sans-serif;
	box-sizing: border-box;
	display: box;
	position: relative;
}

body{
    background-color: #191919;
    zoom: 78%;
}

.header {
	background-color: rgb(15, 50, 100);
	width: 100%;
	height: 10vh;
	padding: 0 8%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .websiteName {
}

.header .options {
	padding: 28px 0;
}
.header .options li {
	display: inline-block;
	margin: 0 15px;
}

.header .options li button a{
	text-decoration: none;
	color: #fff;
	padding: 5px 0px;
}

h2{
    color: white;
    font-size: 30px;
}

h1{
    color: white;
    font-size: 30px;
}

p{
    color: white;
    font-size: 15px;
}

button{
    border-color: lightblue;
    background-color: rgb(20, 66, 165);
    color: white;
    font-size: 15px;
	width: 70px;
    height: 45px;
}

.main{
    text-align: center;
	padding: 30px 0;
}

.main *{
	padding: 10px 10px;
}

a:visited{
    color:white;
}

a:link{
    color: white;
}

label{
    color: white;
    font-size: 15px;
}

input[type=submit]{
    border-color: lightblue;
    background-color: rgb(20, 66, 165);
    color: white;
    font-size: 15px;
    width: 70px;
    height: 45px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

form * {
	padding: 0 0;
	margin-bottom: 20px;
}

th{
    color: white;
    font-size: 20px;
}
td{
    color: white;
    font-size: 15px;
}
